<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
</head>
<body>
    <h1>Esta es mi home page</h1>
    <h2>Estos son todos nuestros heroes!:</h2>
    <a href="/views/babbage.html">Babbage</a><hr>
    <a href="/views/berners-lee.html">Berners-lee</a><hr>
    <a href="/views/clarke.html">Clarke</a><hr>
    <a href="/views/hamilton.html">Hamilton</a><hr>
    <a href="/views/hopper.html">Hopper</a><hr>
    <a href="/views/lovelace.html">lovelace</a><hr>
    <a href="/views/turing.html">Turing</a><hr>
</body>
</html>